@model List<ProductModel>
<div class="sidebar sidebar-shop">
    <div class="widget widget-clean">
        <label>Filtros:</label>
        <a href="#" class="sidebar-filter-clear">Limpar tudo</a>
    </div><!-- End .widget widget-clean -->

    <div class="widget widget-collapsible">
        <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                Categoria
            </a>
        </h3><!-- End .widget-title -->

        <div class="collapse show" id="widget-1">
            <div class="widget-body">
                <div class="filter-items filter-items-count">
                    @*<div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="blusa" id="cat-1" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-1">Blusa</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->*@

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input cat" data-name="camiseta" id="cat-2" onchange="mountFilters()">
                            <label class="custom-control-label" for="cat-2">Camiseta</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input cat" data-name="gravata" id="cat-3" onchange="mountFilters()">
                            <label class="custom-control-label" for="cat-3">Gravata</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input cat" data-name="camisa" id="cat-4" onchange="mountFilters()">
                            <label class="custom-control-label" for="cat-4">Camisa</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->
                    @*<div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="macacão" id="cat-5" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-5">Macacão</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->

        <div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="macaquinho" id="cat-6" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-6">Macaquinho</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->

        <div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="body" id="cat-7" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-7">Body</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->

        <div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="blaizer" id="cat-8" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-8">Blaizer</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->

        <div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="sueter" id="cat-9" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-9">Suéter</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->

        <div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="vestido" id="cat-10" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-10">Vestido</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->

        <div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="sutia" id="cat-11" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-11">Sutiã</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->

        <div class="filter-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input cat" data-name="top" id="cat-12" onchange="mountFilters()">
                <label class="custom-control-label" for="cat-12">Top</label>
            </div><!-- End .custom-checkbox -->
        </div><!-- End .filter-item -->*@

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input cat" data-name="jaqueta" id="cat-13" onchange="mountFilters()">
                            <label class="custom-control-label" for="cat-13">Jaqueta</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->
                </div><!-- End .filter-items -->
            </div><!-- End .widget-body -->
        </div><!-- End .collapse -->
    </div><!-- End .widget -->

    <div class="widget widget-collapsible">
        <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                Marca
            </a>
        </h3><!-- End .widget-title -->

        <div class="collapse show" id="widget-4">
            <div class="widget-body">
                <div class="filter-items">
                    @for (var i = 0; i < Model.Select(x => x.brand).Distinct().ToList().Count; i++)
                    {
                        <div class="filter-item">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input brand" data-name="@Model.Select(x => x.brand).Distinct().ToList()[i]" id="brand-@i" onchange="mountFilters()">
                              <label class="custom-control-label" for="brand-@i">@Model.Select(x => x.brand).Distinct().ToList()[i]</label>
                          </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->
                    }
                </div><!-- End .filter-items -->
            </div><!-- End .widget-body -->
        </div><!-- End .collapse -->
    </div><!-- End .widget -->

    <div class="widget widget-collapsible">
        <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                Preço
            </a>
        </h3><!-- End .widget-title -->

        <div class="collapse show" id="widget-5">
            <div class="widget-body">
                <div class="filter-price">
                    <div class="filter-price-text">
                        Faixa de preço:
                        <span id="filter-price-range"></span>
                    </div><!-- End .filter-price-text -->

                    <div id="price-slider"></div><!-- End #price-slider -->
                </div><!-- End .filter-price -->
            </div><!-- End .widget-body -->
        </div><!-- End .collapse -->
    </div><!-- End .widget -->
</div><!-- End .sidebar sidebar-shop -->

