@{
    ViewBag.header = "_HeaderIndexPartial";

}
<div class="intro-slider-container mb-0">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav": true, "dots": true}'>
        <div class="intro-slide" style="background-image: url(assets/images/demos/demo-5/slider/slide-2.jpg);">
            <div class="container intro-content text-center">
                <h3 class="intro-subtitle text-white"></h3><!-- End .h3 intro-subtitle -->
                <h1 class="intro-title text-white">Acerte no Outfit</h1><!-- End .intro-title -->
                <div class="intro-text text-white">Moda com inteligência</div>
                <!-- End .intro-text
                <a href="category.html" class="btn btn-primary">Moda com inteligência</a>-->
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->
        <div class="intro-slide" style="background-image: url(assets/images/demos/demo-5/slider/slide-2.jpg);">
            <div class="container intro-content text-center">
                <h3 class="intro-subtitle text-white"></h3><!-- End .h3 intro-subtitle -->
                <h1 class="intro-title text-white">Ofertas Imperdíveis</h1><!-- End .intro-title -->
                <div class="intro-text text-white">Até 70% off</div>
                <!-- End .intro-text
                <a href="category.html" class="btn btn-primary">Até 70% off</a>-->
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->
    </div><!-- End .intro-slider owl-carousel owl-theme -->

    <span class="slider-loader text-white"></span><!-- End .slider-loader -->
</div><!-- End .intro-slider-container -->

<div class="search-frontpage pt-3 pb-3 mb-3 bg-lighter">
    <div class=" container">
        <form class="form-inline">
            <div class="form-group w-100">
                <input type="search" class="form-control col" name="q" id="q" placeholder="Digite aqui sua busca..." autocomplete="off" required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
</div>



<div class="mt-6 mt-2 container">
    <div class="banner-group">
        <div class="row">
            <div class="col-md-6">
                <div class="banner banner-border">
                    <a href="#">
                        <img src="assets/images/demos/demo-5/banners/banner-1.jpg" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle"><a href="#">Na medida certa</a></h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title"><a href="#"><span>Compre roupas perfeitas<br>para o seu biotipo físico </span></a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-primary-2 banner-link">Descubra essa exclusividade<i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-md-6-->

            <div class="col-md-6">
                <div class="banner banner-border-hover">
                    <a href="#">
                        <img src="assets/images/demos/demo-5/banners/banner-2.jpg" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle"><a href="#">Está em dúvida, se leva ou não?</a></h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title"><a href="#"><span>Prove virtualmente<br>antes de comprar</span></a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-primary-2 banner-link">Saiba mais<i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->

                <div class="banner banner-border-hover">
                    <a href="#">
                        <img src="assets/images/demos/demo-5/banners/banner-3.jpg" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle"><a href="#">Atendimento ao vivo</a></h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title"><a href="#"><span>Fale diretamente<br>com os vendedores<br>na loja física</span></a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-primary-2 banner-link">Saiba mais<i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->
    </div><!-- End .banner-group -->
</div><!-- End .container -->


<div class="mb-6" style="background-color: #fff;">
    <div class="container">
        <div class="banner-set">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-set-content text-center">
                        <div class="set-content-wrapper">
                            <h4>Moda com inteligência</h4>
                            <h2></h2>

                            <p>Tá díficil encontrar um look com a sua cara?<br>Sem problema! Mostre-nos aquilo que você ama e deixe o trabalho árduo com a gente</p>

                            <div class="banner-set-products">
                                <div class="row">
                                    <div class="products">
                                        <div class="col-6">
                                            <div class="product product-2 text-center">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="assets/images/demos/demo-5/products/product-13.jpg" alt="Product image" class="product-image">
                                                    </a>
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <h3 class="product-title"><a href="#">Rib-knit cardigan</a></h3><!-- End .product-title -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-6">
                                            <div class="product product-2 text-center">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="assets/images/demos/demo-5/products/product-14.jpg" alt="Product image" class="product-image">
                                                    </a>
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <h3 class="product-title"><a href="#">Linen-blend trousers</a></h3><!-- End .product-title -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 -->
                                    </div>
                                </div><!-- End .row -->
                            </div><!-- End .banner-set-products -->
                        </div><!-- End .set-content-wrapper -->
                    </div><!-- End .banner-set-content -->
                </div><!-- End .col-lg-6 -->
                <div class="col-lg-6">
                    <div class="banner-set-image banner-border-hover">
                        <a href="#">
                            <img src="assets/images/demos/demo-5/banners/banner-4.jpg" alt="banner">
                        </a>
                        <div class="banner-content">
                            <h3 class="banner-title"><a href="#"><span>Use as nossas tecnologias<br>na sua loja favorita</span></a></h3><!-- End .banner-title -->
                            <!-- End .banner-subtitle -->
                            <h4 class="banner-detail">Instale o nosso Plugin para Chrome</h4>
                            <a href="#" class="btn btn-outline-primary-2 banner-link">Instale agora</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner-set-image -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .banner-set -->
    </div><!-- End .container -->
</div><!-- End .bg-lighter pt6 pb-6 -->