<header class="header header-5">
    <div class="header-middle sticky-header">
        <div class="container-fluid">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Abrir/fechar menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="index.html" class="logo">
                    <img src="assets/images/logo/logo.png" alt="Parfait Logo" width="132" height="28">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li>
                            <a href="#" class="sf-with-ul">Feminino</a>
                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="menu-title">Categorias</div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->

                                    <div class="col-md-4">
                                        <div class="banner banner-overlay">
                                            <a href="category.html" class="banner banner-menu">
                                                <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                <div class="banner-content banner-content-top">
                                                    <div class="banner-title text-white">O Look<br><span><strong>Perfeito</strong></span></div><!-- End .banner-title -->
                                                </div><!-- End .banner-content -->
                                            </a>
                                        </div><!-- End .banner banner-overlay -->
                                    </div><!-- End .col-md-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a href="category.html" class="sf-with-ul">Masculino</a>
                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="menu-title">Categorias</div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->

                                    <div class="col-md-4">
                                        <div class="banner banner-overlay">
                                            <a href="category.html" class="banner banner-menu">
                                                <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                <div class="banner-content banner-content-top">
                                                    <div class="banner-title text-white">Você no<br><span><strong>estilo</strong></span></div><!-- End .banner-title -->
                                                </div><!-- End .banner-content -->
                                            </a>
                                        </div><!-- End .banner banner-overlay -->
                                    </div><!-- End .col-md-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a href="category.html" class="sf-with-ul">Infantil</a>
                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="menu-title">Categorias</div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                        <li><a href="#">Acessórios</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->

                                    <div class="col-md-4">
                                        <div class="banner banner-overlay">
                                            <a href="category.html" class="banner banner-menu">
                                                <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                <div class="banner-content banner-content-top">
                                                    <div class="banner-title text-white">Perfeito para<br><span><strong>Brincar</strong></span></div><!-- End .banner-title -->
                                                </div><!-- End .banner-content -->
                                            </a>
                                        </div><!-- End .banner banner-overlay -->
                                    </div><!-- End .col-md-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                        </li>

                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="header-search header-search-extended header-search-visible">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Digite sua busca..." autocomplete="off" required>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->

                <a href="#" class="wishlist-link">
                    <i class="icon-user"></i>
                    <span>Entre ou cadastre-se</span>
                </a>
            </div><!-- End .header-right -->
        </div><!-- End .container-fluid -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->