<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Digite sua busca..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="#">Feminino</a>
                    <ul>
                        <li><a href="#">Acessórios</a></li>
                        <li><a href="#">Básicos</a></li>
                        <li><a href="#">Bermudas e Shorts</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Blusas e Camisetas</a></li>
                        <li><a href="#">Blusões e Suéteres</a></li>
                        <li><a href="#">Bolsas</a></li>
                        <li><a href="#">Calçados</a></li>
                        <li><a href="#">Calças</a></li>
                        <li><a href="#">Camisas</a></li>
                        <li><a href="#">Casacos e Jaquetas</a></li>
                        <li><a href="#">Esportivo</a></li>
                        <li><a href="#">Jeans</a></li>
                        <li><a href="#">Macacões e Jardineiras</a></li>
                        <li><a href="#">Óculos</a></li>
                        <li><a href="#">Saias</a></li>
                        <li><a href="#">Vestidos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Masculino</a>
                    <ul>
                        <li><a href="#">Acessórios</a></li>
                        <li><a href="#">Básicos</a></li>
                        <li><a href="#">Bermudas e Shorts</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Blusões e Suéteres</a></li>
                        <li><a href="#">Calçados</a></li>
                        <li><a href="#">Calças</a></li>
                        <li><a href="#">Camisas</a></li>
                        <li><a href="#">Camisetas</a></li>
                        <li><a href="#">Casacos e Jaquetas</a></li>
                        <li><a href="#">Esportivo</a></li>
                        <li><a href="#">Geek</a></li>
                        <li><a href="#">Jeans</a></li>
                        <li><a href="#">Moletons</a></li>
                        <li><a href="#">Pijamas</a></li>
                        <li><a href="#">Polos</a></li>
                        <li><a href="#">Regatas</a></li>
                    </ul>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->